@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto condensed", sans-serif;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
}

h1 {
  font-weight: 400;
  font-size: 2.4rem;
}

h2 {
  font-weight: 400;
  font-size: 1.3rem;
}

img {
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border-radius: 10px;
}

#landing {
  background: #fff;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
}

#landing-image {
  background: url(../img/discover1.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

#landing-text {
  text-align: right;
}

#landing-text-inner {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  animation: landingText 3s forwards;
}

@keyframes landingText {
  0% {
    right: -1000px;
  }
  100% {
    right: 10%;
  }
}

#landing-text-inner h2 {
  color: #8888;
}

.btn {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #ccc;
  margin: 2rem 0 0;
  display: inline-block;
  transition: all 0.5s ease-in;
}

.btn:hover {
  opacity: 0.7;
}

.caption {
  text-align: center;
  padding: 0.5rem;
}

#header {
  padding: 0.5rem;
  text-align: center;
  background: #005635;
  margin-bottom: 1rem;
  color: #cbc9ca;
}

#header h2 {
  border-left: dashed 1px #fff;
  border-right: dashed 1px rgb(138, 122, 122);
  display: inline-block;
  padding: 0 1rem;
}

footer {
  text-align: center;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .btn {
    padding: 1rem 2rem;
  }
}
